# Ignore Terraform local directories and provider binaries
.terraform/
# Ignore Terraform state and plan files
*.tfstate
*.tfstate.backup
*.tfplan
# Ignore override files
override.tf
override.tf.json
# Ignore CLI config files
.terraformrc
terraform.rc
# Optional crash logs
crash.log

#variables and secret file for tfvars should not be pushed to github
terraform.tfvars
*.tfvars